.contact-page {
    padding: 4rem;
    margin: auto
}

@media screen and (max-width: 836px) {
    .contact-page {
        padding: 8rem 2rem;
    }
}

@media screen and (max-width: 802px) {
    .contact-page {
        padding: 8rem 4rem;
    }
}

@media screen and (max-width: 602px) {
    .contact-page {
        padding: 8rem 1rem;
    }
}

@media screen and (max-width: 416px) {
    .contact-page {
        padding: 0 1rem;
    }

    .contact-text {
        text-align: center;
    }
}

@media screen and (max-width: 376px) {
    .contact-page {
        padding: .5rem 1rem;
    }
}

@media screen and (max-width: 322px) {
    .contact-page {
        padding: 1rem;
    }
}

.contact-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 416px) {
    .contact-row {
        flex-direction: column;
    }  
}

.contact-col {
    width: 100%;
}

.contact-col + .contact-col {
    margin-left: 30px;
}

@media screen and (max-width: 602px) {
    .contact-col + .contact-col {
        margin-left: 0px;
    }
}

@media screen and (max-width: 2298px) {
    .contact-row {
        max-width: 1400px;
        margin: auto;
    }
}

@media screen and (max-width: 1922px) {
    .contact-row {
        max-width: 1200px;
        margin: auto;
    }
}

@media screen and (max-width: 1442px) {
    .contact-row {
        max-width: 1000px;
        margin: auto;
    }
}

@media screen and (max-width: 1282px) {
    .contact-row {
        max-width: 900px;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    .contact-row {
        max-width: 700px;
        margin: auto;
    }
}

/* @media screen and (max-width: 836px) {
    .contact-row {
        max-width: 900px;
        margin: auto;
    }
} */

.contact h3 {
    font-size: 20pt;
}

@media screen and (max-width: 1442px) {
    .contact h3 {
        font-size: 18pt;
    }
}

@media screen and (max-width: 1282px) {
    .contact h3 {
        font-size: 16pt;
    }
}

@media screen and (max-width: 1026px) {
    .contact h3 {
        font-size: 15pt;
    }
}

@media screen and (max-width: 602px) {
    .contact h3 {
        font-size: 14pt;
    }
}

@media screen and (max-width: 416px) {
    .contact h3 {
        font-size: 16pt;
        font-weight: 800;
    }
}

.contact-body-text {
    font-size: 18pt;
    line-height: 25pt;
    font-weight: 300;
}

@media screen and (max-width: 1442px) {
    .contact-body-text {
        font-size: 16pt;
        line-height: 20pt;
    }
}

@media screen and (max-width: 1282px) {
    .contact-body-text {
        font-size: 14pt;
        line-height: 18pt;
    }
}

@media screen and (max-width: 1026px) {
    .contact-body-text {
        font-size: 12pt;
        line-height: 16pt;
    }
}

@media screen and (max-width: 836px) {
    .contact-body-text {
        line-height: 12pt;
    }
}

@media screen and (max-width: 602px) {
    .contact-body-text {
        font-size: 10pt;
        line-height: 10pt;
    }
}

@media screen and (max-width: 416px) {
    .contact-body-text {
        font-size: 14pt;
        line-height: 18pt;
        font-weight: light;
    }
}

@media screen and (max-width: 322px) {
    .contact-body-text {
        font-size: 12pt;
        line-height: 18pt;
        font-weight: light;
    }
}

@media screen and (max-width: 2298px) {
    .contact-image {
        width: 836px;
        height: 558px;
    }
}

@media screen and (max-width: 1442px) {
    .contact-image {
        width: 624px;
        height: 416px;
    }
}

@media screen and (max-width: 1026px) {
    .contact-image {
        width: 492px;
        height: 328px;
    }
}

@media screen and (max-width: 836px) {
    .contact-image {
        width: 434px;
        height: 290px;
    }
}

/* @media screen and (max-width: 602px) {
    .contact-image {
        width: 434px;
        height: 290px;
    }
} */

@media screen and (max-width: 416px) {
    .contact-image {
        width: 414px;
        height: 278px;
        margin: auto;
    }
}

@media screen and (max-width: 376px) {
    .contact-image {
        width: 375px;
        height: 250px;
    }
}

@media screen and (max-width: 362px) {
    .contact-image {
        width: 360px;
        height: 240px;
    }
}