.about-page {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fffcf2;
}

@media screen and (max-width: 416px) {
    .front-rectangle-text {
        z-index: 1;
        position: absolute;
        margin: .8em auto;
        width: 100%;
    }
}

.main-para--about {
    width: 80%;
    margin: 1em auto;
}

@media screen and (max-width: 2298px) {
    #biege-section {
        width: 100%;
    }
}

#biege-section {
    background-color: #fffcf2;
    width: 100%;
    height: 835px;
}

@media screen and (max-width: 1922px) {
    #biege-section {
        /* height: 709px; */
        height: 835px;
    }
}

@media screen and (max-width: 1602px) {
    #biege-section {
        height: 850px;
    }
}

@media screen and (max-width: 1440px) {
    #biege-section {
        height: 709px;
    }
}

@media screen and (max-width: 1370px) {
    #biege-section {
        height: 686px;
    }
}

@media screen and (max-width: 1282px) {
    #biege-section {
        height: 672px;
    }
}

@media screen and (max-width: 1026px) {
    #biege-section {
        height: 556px;
    }
}

@media screen and (max-width: 836px) {
    #biege-section {
        height: 630px;
    }
}

@media screen and (max-width: 802px) {
    #biege-section {
        height: 610px;
    }
}

@media screen and (max-width: 770px) {
    #biege-section {
        height: 589px;
    }
}

@media screen and (max-width: 602px) {
    #biege-section {
        height: 505px;
    }
}


@media screen and (max-width: 416px) {
    #biege-section {
        height: 450px;
    }
}

@media screen and (max-width: 376px) {
    #biege-section {
        height: 385px;
    }
}

@media screen and (max-width: 362px) {
    #biege-section {
        height: 400px;
    }
}

.biege-section-content {
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    max-width: 1200px;
}

@media screen and (max-width: 836px) {
    .biege-section-content {
        padding: 1em 0;
    }
}

.neon-bg {
    background-color: #dbffab;
    width: 35%;
    margin: auto;
}

@media screen and (max-width: 416px) {
    .neon-bg {
        width: 45%;
    }
}

.player-wrapper {
    position: relative;
    width: 1064px;
    height: 598px;
    margin: auto;
}

.react-player {
    top: 0;
    left: 0;
    position: absolute;
}

@media screen and (max-width: 1442px) {
    .player-wrapper {
        width: 858px;
        height: 482px;
    }
}

@media screen and (max-width: 1026px) {
    .player-wrapper {
        width: 660px;
        height: 370px;
    }
}

@media screen and (max-width: 836px) {
    .player-wrapper {
        width: 100%;
        height: 469px;
    }
}

@media screen and (max-width: 802px) {
    .player-wrapper {
        width: 100%;
        height: 450px;
    }
}

@media screen and (max-width: 770px) {
    .player-wrapper {
        width: 100%;
        height: 432px;
    }
}

@media screen and (max-width: 602px) {
    .player-wrapper {
        width: 100%;
        height: 365px;
    }
}

@media screen and (max-width: 416px) {
    .player-wrapper {
        width: 100%;
        height: 232.88px;
    }
}

@media screen and (max-width: 376px) {
    .player-wrapper {
        width: 100%;
        height: 210.94px;
    }
}

@media screen and (max-width: 362px) {
    .player-wrapper {
        width: 100%;
        height: 202.5px;
    }
}

.mission-text {
    width: 38%;
    margin: 5em auto;
    text-align: center;
}

@media screen and (max-width: 1026px) {
    .mission-text {
        width: 100%;
    }
}

@media screen and (max-width: 836px) {
    .mission-text {
        padding: 1em 0;
        margin: 0;
    }
}

@media screen and (max-width: 416px) {
    .mission-text {
        background-color: #fffcf2;
        padding: 2em 0;
        margin: 0;
    }
}

@media screen and (max-width: 2298px) {
    .mission__body-text {
        width: 78%;
        margin: auto;
    }
}

@media screen and (max-width: 1922px) {
    .mission__body-text {
        width: 94%;
    }
}

@media screen and (max-width: 1682px) {
    .mission__body-text {
        width: 96%;
    }
}

@media screen and (max-width: 1602px) {
    .mission__body-text {
        width: 100%;
    }
}

@media screen and (max-width: 1370px) {
    .mission__body-text {
        width: 105%;
    }
}

@media screen and (max-width: 1026px) {
    .mission__body-text {
        width: 45%;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 836px) {
    .mission__body-text {
        width: 100%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 602px) {
    .mission__body-text {
        width: 65%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 416px) {
    .mission__body-text {
        width: 75%;
        /* font-size: 1rem; */
    }
}

@media screen and (max-width: 386px) {
    .mission__body-text {
        width: 75%;
    }
}

@media screen and (max-width: 376px) {
    .mission__body-text {
        font-size: .95rem;
    }
}

@media screen and (max-width: 362px) {
    .mission__body-text {
        width: 80%;
    }
}

.mission-para {
    margin-top: 3em;
}

@media screen and (max-width: 836px) {
    .mission-para {
        margin: 1.5em 0;
    }
}

@media screen and (max-width: 416px) {
    .mission-para {
        margin: 4em 0 1em;
    }
}

.grid-body-text {
    font-size: 1.5625rem;
    line-height: 3rem;
}

@media screen and (max-width: 1442px) {
    .grid-body-text {
        font-size: 1.25rem;
        line-height: 2.1875rem;
    }
}

@media screen and (max-width: 1282px) {
    .grid-body-text {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 836px) {
    .grid-body-text {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 602px) {
    .grid-body-text {
        font-size: 1rem;
        line-height: 1.8rem;
    }
}

@media screen and (max-width: 416px) {
    .grid-body-text {
        font-size: 1rem;
        line-height: 2rem;
    }
}

@media screen and (max-width: 376px) {
    .grid-body-text {
        font-size: .95rem;
    }
}

/* @media screen and (max-width: 362px) {
    .grid-body-text {
        font-size: .9rem;
    }
}

@media screen and (max-width: 321px) {
    .grid-body-text {
        font-size: .9rem;
    }
} */


@media screen and (max-width: 2298px) {
    .grid-body-text--about1 {
        padding: 0 12em 0;
    }

    .grid-body-text--about2 {
        padding: 0 13em 0;
    }

    .grid-body-text--about3 {
        padding: 0 12em 0;
    }
}

@media screen and (max-width: 1922px) {
    .grid-body-text--about1 {
        padding: 0 10em 0;
    }

    .grid-body-text--about2 {
        padding: 0 10em 0;
    }

    .grid-body-text--about3 {
        padding: 0 10em 0;
    }
}

@media screen and (max-width: 1682px) {
    .grid-body-text--about1 {
        padding: 0 8em 0;
    }

    .grid-body-text--about2 {
        padding: 0 6em 0;
    }

    .grid-body-text--about3 {
        padding: 0 6em 0;
    }
}

@media screen and (max-width: 1602px) {
    .grid-body-text--about1 {
        padding: 0 7em 0;
    }

    .grid-body-text--about2 {
        padding: 0 5em 0;
    }

    .grid-body-text--about3 {
        padding: 0 5em 0;
    }
}

@media screen and (max-width: 1442px) {
    .grid-body-text--about1 {
        padding: 0 9em 0;
    }

    .grid-body-text--about2 {
        padding: 0 8.5em 0;
    }

    .grid-body-text--about3 {
        padding: 0 7em 0;
    }
}

@media screen and (max-width: 1402px) {
    .grid-body-text--about1 {
        padding: 0 10em 0;
    }

    .grid-body-text--about2 {
        padding: 0 9.5em 0;
    }

    .grid-body-text--about3 {
        padding: 0 9em 0;
    }
}

@media screen and (max-width: 1370px) {
    .grid-body-text--about1 {
        padding: 0 7em 0;
    }

    .grid-body-text--about2 {
        padding: 0 5em 0;
    }

    .grid-body-text--about3 {
        padding: 0 5em 0;
    }
}

@media screen and (max-width: 1282px) {
    .grid-body-text--about1 {
        padding: 0 9em 0;
    }

    .grid-body-text--about2 {
        padding: 0 7.5em 0;
    }

    .grid-body-text--about3 {
        padding: 0 7em 0;
    }
}

@media screen and (max-width: 1026px) {
    .grid-body-text--about1 {
        padding: 0 5em 0;
    }

    .grid-body-text--about2 {
        padding: 0 4em 0;
    }

    .grid-body-text--about3 {
        padding: 0 3em 0;
    }
}

@media screen and (max-width: 836px) {
    .grid-body-text--about1 {
        padding: 0 3em 0;
    }

    .grid-body-text--about2 {
        padding: 0 2em 0;
    }

    .grid-body-text--about3 {
        padding: 0 5em 0 3em;
    }
}

@media screen and (max-width: 802px) {
    .grid-body-text--about1 {
        padding: 0 3em 0;
    }

    .grid-body-text--about2 {
        padding: 0 3em 0;
    }

    .grid-body-text--about3 {
        padding: 0 3em 0;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    .grid-body-text--about1 {
        padding: 0 2.5em 0;
    }

    .grid-body-text--about2 {
        padding: 0 2.5em 0;
    }

    .grid-body-text--about3 {
        padding: 0 2.5em 0;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 662px) {
    .grid-body-text--about1 {
        padding: 0 .5em 0 2em;
    }

    .grid-body-text--about2 {
        padding: 0 2em 0 .8em;
    }

    .grid-body-text--about3 {
        padding: 0 .5em 0 2em;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 602px) {
    .grid-body-text--about1 {
        padding: 0 1em 0;
    }

    .grid-body-text--about2 {
        padding: 0 1em;
    }

    .grid-body-text--about3 {
        padding: 0 1em 0 1em;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 416px) {
    .grid-body-text--about1 {
        padding: 1em 2em 0;
    }

    .grid-body-text--about2 {
        padding: 1em 2em 0;
    }

    .grid-body-text--about3 {
        padding: 1em 2em 0;
    }
}

@media screen and (max-width: 386px) {
    .grid-body-text--about2 {
        padding: 1em 1.8em 0 2em;
    }
}

@media screen and (max-width: 321px) {
    .grid-body-text--about1 {
        padding: 1em .5em;
    }

    .grid-body-text--about2 {
        padding: 1em .5em;
    }

    .grid-body-text--about3 {
        padding: 1em .5em;
    }
}


.b-rectangle--about {
    margin-left: 8.5em;
    margin-top: .5em;
}

.b-rectangle--about2 {
    margin-top: 1em;
}

.b-rectangle--about3 {
    margin-left: 22em;
}

@media screen and (max-width: 2298px) {
    .b-rectangle--about {
        margin-left: 19em;
    }

    .b-rectangle--about3 {
        margin-left: 40em;
    }
}

@media screen and (max-width: 1922px) {
    .b-rectangle--about {
        margin-left: 14em;
    }

    .b-rectangle--about3 {
        margin-left: 33em;
    }
}

@media screen and (max-width: 1682px) {
    .b-rectangle--about {
        margin-left: 12em;
    }

    .b-rectangle--about3 {
        margin-left: 27.5em;
    }
}

@media screen and (max-width: 1602px) {
    .b-rectangle--about {
        margin-left: 10em;
    }

    .b-rectangle--about3 {
        margin-left: 26em;
    }
}

@media screen and (max-width: 1442px) {
    .b-rectangle--about3 {
        margin-left: 23em;
        margin-top: 1.9em;
    }
}

@media screen and (max-width: 1370px) {
    .b-rectangle--about {
        margin-left: 8.2em;
        margin-top: .5em;
    }
    
    .b-rectangle--about2 {
        margin-top: 1em;
    }
    
    .b-rectangle--about3 {
        margin-left: 21em;
    }
}

@media screen and (max-width: 1026px) {
    .b-rectangle--about {
        margin-left: 26em;
        margin-top: .5em;
    }
    
    .b-rectangle--about3 {
        margin-left: 16em;
        margin-top: 1.2em;
    }
}

@media screen and (max-width: 836px) {
    .b-rectangle--about {
        margin-left: 20em;
        margin-top: 1.4em;
    }
    
    .b-rectangle--about3 {
        margin-left: 11.3em;
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 802px) {
    .b-rectangle--about {
        margin-left: 20em;
    }

    .b-rectangle--about2 {
        margin-top: -0.1em;
    }
}

@media screen and (max-width: 770px) {
    .b-rectangle--about {
        margin-left: 18.5em;
    }
}

@media screen and (max-width: 662px) {
    .b-rectangle--about {
        margin-left: 15em;
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 602px) {
    .b-rectangle--about {
        margin-left: 14em;
    }

    .b-rectangle--about2 {
        margin-top: 1em;
    }

    .b-rectangle--about3 {
        margin-left: 8em;
    }
}

@media screen and (max-width: 416px) {
    .b-rectangle--about {
        margin-left: 7.5em;
        margin-top: 1em;
        z-index: 0;
    }

    .b-rectangle--about2 {
        margin-top: 1em;
    }

    .b-rectangle--about3 {
        margin-left: 7em;
        margin-top: 1em;
        z-index: 0;
    }
}

@media screen and (max-width: 321px) {
    .b-rectangle--about {
        margin-left: 6em;
        margin-top: 1em;
    }

    .b-rectangle--about2 {
        margin-top: .8em;
    }

    .b-rectangle--about3 {
        margin-left: 6em;
    }
}

.body-text--big {
    font-size: 2rem;
    font-weight: 250;
    line-height: .1rem;
}

@media screen and (max-width: 1026px) {
    .body-text--big {
        font-size: 1.5625rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 836px) {
    .body-text--big {
        font-size: 1.5rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 802px) {
    .body-text--big {
        font-size: 1.4rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 770px) {
    .body-text--big {
        font-size: 1.3625rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 662px) {
    .body-text--big {
        font-size: 1.25rem;
        font-weight: 200;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 602px) {
    .body-text--big {
        font-size: 1.0525rem;
        font-weight: 200;
    }
}

@media screen and (max-width: 416px) {
    .body-text--big {
        width: 80%;
        margin: .7em auto;
        font-size: 1.3rem;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 376px) {
    .body-text--big {
        font-size: 1.25rem;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 321px) {
    .body-text--big {
        font-size: 1.125rem;
        font-weight: lighter;
        line-height: 1.5em;
    }
}

.dyk-section {
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

@media screen and (max-width: 416px) {
    .dyk-section {
        background-color: #fffcf2;
        width: 100%;
        border-top: 1px solid #ccc;
        padding: 1em 0;
    }
}

.dyk__body-text {
    width: 85%;
    padding: 1em 0;
    margin: auto;
}

@media screen and (max-width: 2298px) {
    .dyk__body-text {
        width: 50%;
    }
}

@media screen and (max-width: 1922px) {
    .dyk__body-text {
        width: 55%;
    }
}

@media screen and (max-width: 1682px) {
    .dyk__body-text {
        width: 68%;
    }
}

@media screen and (max-width: 1602px) {
    .dyk__body-text {
        width: 65%;
    }
}

@media screen and (max-width: 1442px) {
    .dyk__body-text {
        width: 65%;
    }
}

@media screen and (max-width: 1370px) {
    .dyk__body-text {
        width: 68%;
    }
}

@media screen and (max-width: 1282px) {
    .dyk__body-text {
        width: 65%;
    }
}

@media screen and (max-width: 1026px) {
    .dyk__body-text {
        width: 80%;
    }
}

@media screen and (max-width: 836px) {
    .dyk__body-text {
        width: 80%;
    }
}

@media screen and (max-width: 802px) {
    .dyk__body-text {
        width: 85%;
    }
}

@media screen and (max-width: 779px) {
    .dyk__body-text {
        width: 85%;
    }
}

@media screen and (max-width: 662px) {
    .dyk__body-text {
        width: 98%;
    }
}

@media screen and (max-width: 602px) {
    .dyk__body-text {
        width: 98%;
    }
}

@media screen and (max-width: 416px) {
    .dyk__body-text {
        width: 85%;
    }
}

