.landing-page {
  width: 100%;
}

#banner {
    background: url("../../Img-Assets/brie-become-a-donation-partner(desktop).jpg") no-repeat right center;
    background-size: cover;
    background-color: #eff2f9;
    height: 44.188rem;
}

@media screen and (max-width: 1922px) {
    #banner {  
        height: 43.563rem;
    }
}

@media screen and (max-width: 1442px) {
    #banner {
        background: url("../../Img-Assets/brie-become-a-donation-partner(tablet).jpg") no-repeat right center;
        background-size: cover;
        background-color: #eff2f9;
        height: 43.562rem;
    }
}

@media screen and (max-width: 1370px) {
    #banner {  
        height: 41.813rem;
    }
}

@media screen and (max-width: 1282px) {
    #banner {
        height: 42rem;
    }
}

@media screen and (max-width: 1026px) {
    #banner {
        background: url("../../Img-Assets/brie-become-a-donation-partner(tablet).jpg") no-repeat right;
        background-size: cover;
        background-color: #eff2f9;
        /* height: 42rem; */
        height: 28rem;
    }
}

@media screen and (max-width: 836px) {
    #banner {  
        background: url("../../Img-Assets//brie-become-a-donation-partner(mobile).jpg") no-repeat center bottom;
        background-size: cover;
        background-color: #eff2f9;
        height: 60.625rem;
    }
}

@media screen and (max-width: 802px) {
    #banner {  
        /* height: 54.625rem; */
        height: 55rem;
    }
}

@media screen and (max-width: 602px) {
    #banner {  
        /* height: 54.625rem; */
        height: 44rem;
    }
}

@media screen and (max-width: 416px) {
    #banner {
        /* height: 41.813rem; */
        height: 40rem;
    }
}

@media screen and (max-width: 385px) {
    #banner {  
        height: 38.75rem;
    }
}

@media screen and (max-width: 362px) {
    #banner {  
        height: 38.63rem;
    }
}

@media screen and (max-width: 321px) {
    #banner {  
        overflow-x: hidden;
    }
}


.banner-content-wrapper {
    /* width: 60%; */
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1602px) {
    .banner-contents {
        /* margin-left: -2em; */
    }
}

@media screen and (max-width: 1442px) {
    .banner-contents {
        /* border: 2px solid gray; */
        padding: 4em;
    }
}


@media screen and (max-width: 836px) {
    .banner-content-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }

    .banner-contents {
        text-align: center;
    }
}

@media screen and (max-width: 802px) {
    .banner-content-wrapper {
        padding-top: .1rem;
    }
}

@media screen and (max-width: 660px) {
    .banner-content-wrapper {
        padding-top: 5rem;
    }
}

@media screen and (max-width: 602px) {
    .banner-content-wrapper {
        padding-top: 0;
    }
}

@media screen and (max-width: 416px) {
    .banner-content-wrapper {
        margin-top: -2em;
    }
}

.bodytext--secondary {
    display: none;
}

.bodytext--nobreak {
    display: none;
}

.bodytext--onebreak {
    display: none;
}

@media screen and (max-width: 1920px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--secondary {
        display: none;
    }

    .bodytext--nobreak {
        display: none;
    }

    .bodytext--onebreak {
        display: block;
    }
}

@media screen and (max-width: 1681px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: none;
    }

    .bodytext--onebreak {
        display: none;
    }
    
    .bodytext--secondary {
        display: block;
        font-size: 1.525rem;
    }
}

@media screen and (max-width: 1442px) {
    .bodytext--primary {
        display: block;
        font-size: 1.3rem;
    }

    .bodytext--nobreak {
        display: none;
    }

    .bodytext--onebreak {
        display: none;

    }

    .bodytext--secondary {
        display: none;
    }
}

/* @media screen and (max-width: 1402px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--secondary {
        display: block;
        font-size: 1.525rem;
    }
} */

@media screen and (max-width: 1370px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: none;
    }

    .bodytext--onebreak {
        display: none;
    }
    
    .bodytext--secondary {
        display: block;
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1282px) {
    .bodytext--primary {
        display: none;
        font-size: 1.25rem;
    }

    .bodytext--onebreak {
        display: block;
    }

    .bodytext--nobreak {
        display: none;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 1026px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: none;
    }

    .bodytext--onebreak {
        display: block;
        font-size: 1.1rem;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 836px) {
    .bodytext--primary {
        display: block;
    }

    .bodytext--onebreak {
        display: none;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 836px) {
    .bodytext--primary {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 665px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: block;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 416px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: block;
        font-size: 1rem;
    }
    
    .bodytext--secondary {
        display: none;
    } 
}

@media screen and (max-width: 376px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: block;
        font-size: 1rem;
    }
    
    .bodytext--secondary {
        display: none;
    } 
}

@media screen and (max-width: 321px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: block;
        font-size: .87rem;
    }
    
    .bodytext--secondary {
        display: none;
    } 
}


.title {
    font-weight: 800;
    margin-bottom: 0;
}

#second-section {
    margin-bottom: 4rem;
}

@media screen and (max-width: 601px) {
    #second-section {
        margin-bottom: 2rem;
    }    

    .step-texts {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 416px) {
    #second-section {
        margin-top: 2em;
    }
}

.sub-title {
    font-weight: 800;
    text-align: center;
}

.step-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-content: center;
}

@media screen and (max-width: 836px) {
    .step-cols {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 601px) {
    .step-cols {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 416px) {
    .step-cols {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-content: center;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-illustration {
    width: 297.5px;
    height: 297.5px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1026px) {
    .step-illustration {
        width: 265.5px;
        height: 265.5px;
        margin-bottom: 2rem;
    }
}

/* @media screen and (max-width: 836px) {
    .step-illustration {
        width: 323.02px;
        height: 323.02px;
        margin-bottom: 2rem;
    }
} */

@media screen and (max-width: 802px) {
    .step-illustration {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 670px) {
    .step-illustration {
        width: 180px;
        height: 180px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 616px) {
    .step-illustration {
        width: 160px;
        height: 160px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 526px) {
    .step-illustration {
        width: 140px;
        height: 140px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .step-illustration {
        width: 120px;
        height: 120px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 416px) {
    .step-illustration {
        width: 281.15px;
        height: 281.15px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 385px) {
    .step-illustration {
        width: 255px;
        height: 255px;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 385px) {
    .step-illustration {
        width: 235px;
        height: 235px;
        margin-bottom: 1rem;
    }
}

.steps-para-head {
    font-weight: 800;
    margin: 0;
    line-height: 100%;
}

a {
    display: block;
    color: rgb(58, 66, 133);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 4rem 0;
}

.grid-container:first-child {
    margin-top: 0;
}

/* @media screen and (max-width: 1920px) {
    .grid-container {
        margin: -1em;
    }

    .grid-container:last-child {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 1682px) {
    .grid-container {
        margin: -5em;
    }

    .grid-container:first-child {
        margin-top: -2em;
    }

    .grid-container:last-child {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 1602px) {
    .grid-container {
        margin: -6em;
    }
}
 */

@media screen and (max-width: 800px) {
    .grid-container {
        margin: 2rem 0;
    }
} 

@media screen and (max-width: 416px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .reverse-container {
        flex-direction: column-reverse;
    }
}

.section-images {
    width: 100%;
}

@media screen and (max-width: 416px) {
    .section-images {
        width: 90%;
        margin: auto;
    }
}

.section-texts {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.padding-m, 
div.padding-s, 
div.padding-l {
    width: 90%;
    padding: 14.55em 10em;

}

@media screen and (max-width: 1920px) {
    div.padding-m {
        padding: 9em 7em;
    }

    div.padding-s {
        padding: 7em 7.5em;
    }

    div.padding-l {
        padding: 10em 7.5em;
    }
}

@media screen and (max-width: 1602px) {
    div.padding-m {
        padding: 5em 7em;
    }

    div.padding-s {
        padding: 6em 7.5em;
    }

    div.padding-l {
        padding: 8em 7.5em;
    }
}

@media screen and (max-width: 1442px) {
    div.padding-m {
        padding: 9.2em 7em;
    }

    div.padding-s {
        padding: 7.8em 7.5em;
    }

    div.padding-l {
        padding: 11.5em 7.5em;
    }
}

@media screen and (max-width: 1370px) {
    div.padding-m {
        padding: 5.6em 4em;
    }

    div.padding-s {
        padding: 4.25em 4em;
    }

    div.padding-l {
        padding: 7.9em 3.35em;
    }
}

@media screen and (max-width: 1282px) {
    div.padding-m {
        padding: 7.52em 7em;
    }

    div.padding-s {
        padding: 5.42em 7.3em;
    }

    div.padding-l {
        padding: 9.745em 7em;
    }
}

@media screen and (max-width: 1026px) {
    div.padding-m {
        padding: 2.5em 4em;
    }

    div.padding-s {
        padding: 1.35em 3.8em;
    }

    div.padding-l {
        padding: 5.75em 3.5em;
    }
}

@media screen and (max-width: 836px) {
    div.padding-m {
        padding: 2.32em 4em;
    }

    div.padding-s {
        padding: 0em 3.5em;
    }

    div.padding-l {
        padding: 3em 3.5em;
    }
}

@media screen and (max-width: 802px) {
    div.padding-m {
        padding: 1.76em 3.5em;
    }

    div.padding-s {
        padding: 0em 2.9em;
    }

    div.padding-l {
        padding: 2.5em 3.5em;
    }
}

@media screen and (max-width: 770px) {
    div.padding-m {
        padding: 1.25em 3em;
    }

    div.padding-s {
        padding: 0em 2.2em;
    }

    div.padding-l {
        padding: 2.8em 3em;
    }
}

@media screen and (max-width: 602px) {
    div.padding-m {
        padding: 1em 1em;
    }

    div.padding-s {
        padding: 1em 1em;
    }

    div.padding-l {
        padding: 1em 1.3em;
    }
}


@media screen and (max-width: 416px) {
    .section-texts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.b-rectangle {
    transform: rotate(12deg);
    background-color: #e0dafe;
    position: absolute;
}

.g-rectangle {
    background-color: #dbffab;
    transform: rotate(12deg);
    position: absolute;
}

.third-section-header {
    text-align: left;
    font-weight: 800;
}

.ask-section {
    background-color: #dbffab;
    text-align: center;
    padding: 1rem;
}

@media screen and (max-width: 602px) {
    .step-body-cols {
        /* padding-right: 1em; */
        /* border: 2px solid green; */
    }
}