.landing-page {
  width: 100%;
}

#banner {
    background: url("../../Img-Assets/brie-become-a-donation-partner(desktop).jpg") no-repeat right center;
    background-size: cover;
    background-color: #eff2f9;
    height: 44.188rem;
}

@media screen and (max-width: 1922px) {
    #banner {  
        height: 43.563rem;
    }
}

@media screen and (max-width: 1442px) {
    #banner {
        background: url("../../Img-Assets/brie-become-a-donation-partner(tablet).jpg") no-repeat right center;
        background-size: cover;
        background-color: #eff2f9;
        height: 43.562rem;
    }
}

@media screen and (max-width: 1370px) {
    #banner {  
        height: 41.813rem;
    }
}

@media screen and (max-width: 1282px) {
    #banner {
        height: 42rem;
    }
}

@media screen and (max-width: 1026px) {
    #banner {
        background: url("../../Img-Assets/brie-become-a-donation-partner(tablet).jpg") no-repeat right center;
        background-size: cover;
        background-color: #eff2f9;
        height: 42rem;
    }
}

@media screen and (max-width: 836px) {
    #banner {  
        background: url("../../Img-Assets//brie-become-a-donation-partner(mobile).jpg") no-repeat center bottom;
        background-size: cover;
        background-color: #eff2f9;
        height: 60.625rem;
    }
}

@media screen and (max-width: 802px) {
    #banner {  
        height: 54.625rem;
    }
}

@media screen and (max-width: 416px) {
    #banner {
        height: 41.813rem;
    }
}

@media screen and (max-width: 377px) {
    #banner {  
        height: 38.75rem;
    }
}

@media screen and (max-width: 362px) {
    #banner {  
        height: 38.63rem;
    }
}


.banner-content-wrapper {
    /* width: 60%; */
    display: flex;
    align-items: center;
    border: 2px solid yellow;
}

@media screen and (max-width: 836px) {
    .banner-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .banner-contents {
        text-align: center;
    }
}

.title {
    font-weight: 900;
    margin-bottom: 0;
}

#second-section {
    margin-bottom: 6rem;
}

.sub-title {
    font-weight: 900;
    text-align: center;
}

.step-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-content: center;
}

@media screen and (max-width: 416px) {
    .step-cols {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-content: center;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-illustration {
    width: 297.5px;
    height: 297.5px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1026px) {
    .step-illustration {
        width: 265.5px;
        height: 265.5px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 836px) {
    .step-illustration {
        width: 323.02px;
        height: 323.02px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 416px) {
    .step-illustration {
        width: 281.15px;
        height: 281.15px;
        margin-bottom: 2rem;
    }
}


.steps-para-head {
    font-weight: 850;
    margin: 0;
    line-height: 100%;
}

a {
    display: block;
    color: rgb(58, 66, 133);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border: 2px solid yellow;
}

@media screen and (max-width: 416px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .reverse-container {
        flex-direction: column-reverse;
    }
}

.section-texts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-texts div {
    width: 75%;
}

@media screen and (max-width: 416px) {
    .section-texts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-texts div {
        width: 75%;
        text-align: left;
        margin: auto 0;
    }
}

.b-rectangle {
    transform: rotate(12deg);
    background-color: #e0dafe;
    position: absolute;
}

.g-rectangle {
    background-color: #dbffab;
    transform: rotate(12deg);
    position: absolute;
}

.third-section-header {
    text-align: left;
}

.ask-section {
    background-color: #dbffab;
    text-align: center;
    padding: 1rem;
}
