.landing-page {
  width: 100%;
}

#banner {
    background: url("../../Img-Assets/brie-become-a-donation-partner(desktop).jpg") no-repeat right center;
    background-size: cover;
    background-color: #eff2f9;
    height: 44.188rem;
}

@media screen and (max-width: 1922px) {
    #banner {  
        height: 43.563rem;
    }
}

@media screen and (max-width: 1442px) {
    #banner {
        background: url("../../Img-Assets/brie-become-a-donation-partner(tablet).jpg") no-repeat right center;
        background-size: cover;
        background-color: #eff2f9;
        height: 43.562rem;
    }
}

@media screen and (max-width: 1370px) {
    #banner {  
        height: 41.813rem;
    }
}

@media screen and (max-width: 1282px) {
    #banner {
        height: 42rem;
    }
}

@media screen and (max-width: 1026px) {
    #banner {
        background: url("../../Img-Assets/brie-become-a-donation-partner(tablet).jpg") no-repeat right center;
        background-size: cover;
        background-color: #eff2f9;
        height: 42rem;
    }
}

@media screen and (max-width: 836px) {
    #banner {  
        background: url("../../Img-Assets//brie-become-a-donation-partner(mobile).jpg") no-repeat center bottom;
        background-size: cover;
        background-color: #eff2f9;
        height: 60.625rem;
    }
}

@media screen and (max-width: 802px) {
    #banner {  
        height: 54.625rem;
    }
}

@media screen and (max-width: 416px) {
    #banner {
        height: 41.813rem;
    }
}

@media screen and (max-width: 377px) {
    #banner {  
        height: 38.75rem;
    }
}

@media screen and (max-width: 362px) {
    #banner {  
        height: 38.63rem;
    }
}


.banner-content-wrapper {
    /* width: 60%; */
    display: flex;
    align-items: center;
    /* border: 2px solid yellow; */
}


@media screen and (max-width: 836px) {
    .banner-content-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
    }

    .banner-contents {
        text-align: center;
    }
}

@media screen and (max-width: 660px) {
    .banner-content-wrapper {
        padding-top: 4rem;
    }
}

@media screen and (max-width: 416px) {
    .banner-content-wrapper {
        padding-top: 0;
    }
}

.bodytext--secondary {
    display: none;
}

.bodytext--nobreak {
    display: none;
}

@media screen and (max-width: 1920px) {
    .bodytext--primary {
        display: block;
    }

    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 1681px) {
    .bodytext--primary {
        display: none;
    }
    
    .bodytext--secondary {
        display: block;
        font-size: 1.525rem;
    }
}

@media screen and (max-width: 1442px) {
    .bodytext--primary {
        display: block;
        font-size: 1.525rem;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 1368px) {
    .bodytext--primary {
        display: none;
    }
    
    .bodytext--secondary {
        display: block;
        font-size: 1.525rem;
    }
}

@media screen and (max-width: 1282px) {
    .bodytext--primary {
        display: block;
        font-size: 1.25rem;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .bodytext--primary {
        display: none;
    }
    
    .bodytext--secondary {
        display: block;
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 836px) {
    .bodytext--primary {
        display: block;
    }

    /* .bodytext--nobreak {
        display: block;
    } */
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 665px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: block;
    }
    
    .bodytext--secondary {
        display: none;
    }
}

@media screen and (max-width: 416px) {
    .bodytext--primary {
        display: none;
    }

    .bodytext--nobreak {
        display: block;
        font-size: 1.125rem;
    }
    
    .bodytext--secondary {
        display: none;
    } 
}

.title {
    font-weight: 800;
    margin-bottom: 0;
}

#second-section {
    margin-bottom: 4rem;
}

@media screen and (max-width: 601px) {
    #second-section {
        margin-bottom: 2rem;
    }    

    .step-texts {
        margin-bottom: 2rem;
    }
}

.sub-title {
    font-weight: 800;
    text-align: center;
}

.step-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-content: center;
}

@media screen and (max-width: 836px) {
    .step-cols {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 601px) {
    .step-cols {
        gap: 0.5rem;
    }
}

@media screen and (max-width: 416px) {
    .step-cols {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-content: center;
    }
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-illustration {
    width: 297.5px;
    height: 297.5px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 1026px) {
    .step-illustration {
        width: 265.5px;
        height: 265.5px;
        margin-bottom: 2rem;
    }
}

/* @media screen and (max-width: 836px) {
    .step-illustration {
        width: 323.02px;
        height: 323.02px;
        margin-bottom: 2rem;
    }
} */

@media screen and (max-width: 802px) {
    .step-illustration {
        width: 200px;
        height: 200px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 670px) {
    .step-illustration {
        width: 180px;
        height: 180px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 616px) {
    .step-illustration {
        width: 160px;
        height: 160px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 526px) {
    .step-illustration {
        width: 140px;
        height: 140px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .step-illustration {
        width: 120px;
        height: 120px;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 416px) {
    .step-illustration {
        width: 281.15px;
        height: 281.15px;
        margin-bottom: 2rem;
    }
}


.steps-para-head {
    font-weight: 800;
    margin: 0;
    line-height: 100%;
}

a {
    display: block;
    color: rgb(58, 66, 133);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 4rem 0;
    /* border: 5px solid yellow; */
}

.grid-container:first-child {
    margin-top: 0;
}

@media screen and (max-width: 800px) {
    .grid-container {
        margin: 2rem 0;
    }
} 

@media screen and (max-width: 416px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }

    .reverse-container {
        flex-direction: column-reverse;
    }
}

.section-images {
    width: 100%;
}

.section-texts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-texts div {
    width: 90%;
}

@media screen and (max-width: 416px) {
    .section-texts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-texts div {
        width: 75%;
        text-align: left;
        margin: auto 0;
    }
}

.b-rectangle {
    transform: rotate(12deg);
    background-color: #e0dafe;
    position: absolute;
}

.g-rectangle {
    background-color: #dbffab;
    transform: rotate(12deg);
    position: absolute;
}

.third-section-header {
    text-align: left;
    font-weight: 800;
}

.ask-section {
    background-color: #dbffab;
    text-align: center;
    padding: 1rem;
}
