.navbar {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: #555;
    margin: auto;
    padding: 0.75rem 0;
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 416px) {
    .navbar {
        display: none;
    }
}

.navbar a, .donate-button {
    flex-grow: 1;
    color: #555;
    text-decoration: none;
    padding: 1rem 0;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: left;
}

a.active {
    text-decoration: underline 3px;
}

.donate-button {
    flex-grow: 2;
    background-color: rgb(236, 229, 243);
    text-align: center;
}
