footer {
    max-width: 100%;
    background-color: #000;
    color: #c3c3c3;
    font-size: 1rem;
    cursor: pointer;
    padding: 2rem;
    font-weight: lighter;
}

.list-title {
    color: #fff;
}

li {
    list-style-type: none;
    margin-left: -40px;
    line-height: 20pt;
}

li:hover {
    text-decoration: underline;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
}

.footer-list ul li {
    margin-bottom: 1rem;
}

.footer-divider {
      display: none;  
}

.social-media {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
}

.sm-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
}

.sm-icons *:hover {
    transform: translateY(3px);
}

.app-download {
    display: none;
}

button {
    margin-inline: 10px;
}

.copyright {
    padding: 10px;
    text-align: center;
}

.copyright p:last-child {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.copyright p:last-child:hover {
    text-decoration: underline 2px;
}

.hidden-plus {
    display: none;
}

@media screen and (max-width: 1024px) {
    .app-download {
        text-align: center;
        margin: auto;
        display: block;
    }

    .store-icons {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-content: center;
        margin: auto;
        padding: 2rem 0rem;
    }

    .store-icons img {
        width: 15rem;
        border: 2px solid #000;
        border-radius: 10px;
    }

    .store-icons img:hover {
        transform: translateX(3px);
    }
}

@media screen and (max-width: 835px) {
    .store-icons img {
        padding: 0.4rem;
    }

    .sm-icons * {
        width: 1.5rem;
    }

    .app-download {
        margin-top: 2rem;
    }

    .store-icons {
        padding: 0;
    }
}

@media screen and (max-width: 415px) {
    footer {
        font-size: 0.9rem;
    }

    .flex-footer {
       display: flex;
       flex-direction: column;
    }

    .hidden-plus {
        display: block;
    }

    .list-title, .selling-plus {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-divider {
        display: block;
    }

    .store-icons img {
        width: 8rem;
    }
}

@media screen and (max-width: 376px) {
    footer, .social-media {
        font-size: 0.7rem;
    }

    .sm-icons * {
        width: 1.2rem;
    }
}
