.landing-page {
  width: 100%;
}

#banner {
    background: url("../../Img-Assets/brie-become-a-donation-partner(desktop).jpg") no-repeat center right;
    height: 44.188rem;
}

.banner-content-wrapper {
    display: flex;
    align-items: center;
}

.title {
    font-size: 3.33rem;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 0;
}

#second-section {
    margin-bottom: 6rem;
}

.sub-title {
    font-size: 3.33rem;
    font-weight: 900;
    text-align: center;
}

.step-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    align-content: center;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.step-illustration {
    width: 297.5px;
    height: 297.5px;
    margin-bottom: 2rem;
}

.steps-para-head {
    font-size: 2.92rem;
    font-weight: 850;
    margin: 0;
    line-height: 50%;
}


a {
    display: block;
    color: rgb(58, 66, 133);
}

#third-section {

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5rem;
}

.section-images {
    /* width: 895.5px;
    height: 895.5px; */
}

.section-texts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-texts div {
    width: 75%;
}

.b-rectangle {
    transform: rotate(12deg);
    background-color: #e0dafe;
    position: absolute;
}

.g-rectangle {
    background-color: #dbffab;
    transform: rotate(12deg);
    position: absolute;
}

.third-section-header {
    font-size: 4.17rem;
    text-align: left;
    line-height: 100%;
}

.ask-section {
    background-color: #dbffab;
    text-align: center;
    padding: 1rem;
}

.ask-section h3 {
    line-height: 180%;
    font-size: 2.5rem;
    margin: 0;
}