.four-oh-four {
    padding: 4rem;
    height: 80vh;
}

/* @media screen and (max-width: 1282px) {
    .four-oh-four {
        height: 30vh;
        overflow-y: hidden;
    }
} */

@media screen and (max-width: 1282px) {
    .four-oh-four {
        height: 50vh;
    }
}

@media screen and (max-width: 602px) {
    .four-oh-four {
        padding: 2rem;
    }
}


.content-404 {
    padding: 0 4rem 2rem 0;
    font-weight: 500;
}

@media screen and (max-width: 2298px) {
    .content-404 {
        padding: 0 12rem 2rem 0;
    }
}

@media screen and (max-width: 1922px) {
    .content-404 {
        padding: 0 10rem 2rem 0;
    }
}

@media screen and (max-width: 1682px) {
    .content-404 {
        padding: 0 3rem 2rem 0;
    }
}

@media screen and (max-width: 1602px) {
    .content-404 {
        padding: 0 5rem 2rem 0;
    }
}

@media screen and (max-width: 1442px) {
    .content-404 {
        padding: 0 .1rem 2rem 0;
    }
}

@media screen and (max-width: 1402px) {
    .content-404 {
        padding: 0 .1rem 2rem 0;
    }
}

@media screen and (max-width: 1370px) {
    .content-404 {
        padding: 0 .1rem 2rem 0;
    }
}

@media screen and (max-width: 1282px) {
    .content-404 {
        padding: 0 0rem 2rem 0;
    }
}

@media screen and (max-width: 1026px) {
    .content-404 {
        padding: 0 .1rem 2rem 0;
    }
}

@media screen and (max-width: 836px) {
    .content-404 {
        padding: 0 1rem 2rem 0;
    }
}

@media screen and (max-width: 802px) {
    .content-404 {
        padding: 0 1rem 2rem 0;
    }
}

@media screen and (max-width: 768px) {
    .content-404 {
        padding: 0 1.5rem 2rem 0;
    }
}

@media screen and (max-width: 660px) {
    .content-404 {
        padding: 0 4rem 2rem 0;
    }
}

@media screen and (max-width: 602px) {
    .content-404 {
        padding: 0 0rem 1rem 0;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 416px) {
    .content-404 {
        width: 100%;
        margin: 0 auto;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 412px) {
    .content-404 {
        width: 85%;
        margin: 0 auto;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 386px) {
    .content-404 {
        width: 100%;
    }
}

@media screen and (max-width: 376px) {
    .content-404 {
        width: 85%;
    }
}

/* @media screen and (max-width: 376px) {
    .fof-img {
        
    }
} */


.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

@media screen and (max-width: 416px) {
    .row {
        flex-direction: column;
    }
}


.fof-cols {
    margin: 0 1em;
}

@media screen and (max-width: 2298px) {
    .fof-cols {
        margin: 0;
    }
}

@media screen and (max-width: 1682px) {
    .fof-cols {
        margin: 1em;
    }
}

@media screen and (max-width: 1442px) {
    .fof-cols {
        margin: 6em;
    }
}

@media screen and (max-width: 1370px) {
    .fof-cols {
        margin: 1em;
    }
}

@media screen and (max-width: 1282px) {
    .fof-cols {
        margin: 5em;
    }
}

@media screen and (max-width: 1026px) {
    .fof-cols {
        margin: 2em;
    }
}

@media screen and (max-width: 836px) {
    .fof-cols {
        margin: 1em;
    }
}

@media screen and (max-width: 802px) {
    .fof-cols {
        margin: 1.5;
    }
}

@media screen and (max-width: 602px) {
    .fof-cols {
        margin: 1em .5em;
    }
}

@media screen and (max-width: 416px) {
    .fof-cols {
        text-align: center;
        margin: 0;
    }
}


.btn-404 {
    padding: .7rem;
    width: 12rem;
}

@media screen and (max-width: 2298px) {
    .btn-404 {
        width: 24rem;
    }
}

@media screen and (max-width: 1682px) {
    .btn-404 {
        padding: .6rem;
    }
}

@media screen and (max-width: 1602px) {
    .btn-404 {
        padding: .5rem;
    }
}

@media screen and (max-width: 1442px) {
    .btn-404 {
        width: 20rem;
    }
}

@media screen and (max-width: 1280px) {
    .btn-404 {
        width: 18rem;
    }
}

@media screen and (max-width: 1024px) {
    .btn-404 {
        padding: .4rem;
        width: 16rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 836px) {
    .btn-404 {
        width: 15rem;
    }
}

@media screen and (max-width: 770px) {
    .btn-404 {
        font-size: .95rem;
    }
}

@media screen and (max-width: 602px) {
    .btn-404 {
        font-size: .9rem;
        width: 13rem;
    }
}

@media screen and (max-width: 416px) {
    .btn-404 {
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 416px) {
    .btn-404 {
        padding: .5rem;
        width: 14rem;
    }
}

@media screen and (max-width: 386px) {
    .btn-404 {
        padding: .5em;
        width: 14rem;
    }
}

@media screen and (max-width: 321px) {
    .btn-404 {
        width: 12rem;
    }
}