html {
  /* font-size: 14px; */
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Acumin-Pro-Wide, Arial, Helvetica, sans-serif;
}

.container {
  margin: auto;
  width: calc(100% - 506px);
  max-width: 1791px;
  /* border: 2px solid red; */
}

@media screen and (max-width: 1922px) {
  .container {
    width: calc(100% - 300px);
  }
}

@media screen and (max-width: 1442px) {
  .container {
    width: calc(100% - 120px);
  }
}

@media screen and (max-width: 1370px) {
  .container {
    width: calc(100% - 276px);
  }
}

@media screen and (max-width: 1282px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 1026px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 836px) {
  .container {
    width: calc(100% - 100px);
  }
}

@media screen and (max-width: 416px) {
  .container {
    width: calc(100% - 40px);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  width: 26.125rem;
  padding: 1rem;
  font-size: 1.5625rem;
  margin: 0;
}

@media screen and (max-width: 1282px) {
  .btn {
    width: 20.94rem;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 416px) {
  .btn {
    width: 18.5rem;
    font-size: 1rem;
  }
}

button {
  max-width: 100%;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  border: none;
  outline: none;
  margin: auto;
  cursor: pointer;
}

button:hover {
  transform: translateY(1.5px);
}

.divider {
  display: block;
  border: none;
  border-top: 0.1px solid #ddd;
}


/* ====================UTILITIES========================= */
.h-full {
  height: 100%;
}

.body-text {
  font-size: 1.5625rem;
  line-height: 2.8125rem;
}

@media screen and (max-width: 1922px) {
  .body-text {
    font-size: 1.5625rem;
    line-height: 2.8125rem;
  }
}

@media screen and (max-width: 1442px) {
  .body-text {
    font-size: 1.25rem;
    line-height: 2.1875rem;
  }
}

@media screen and (max-width: 1282px) {
  .body-text {
    font-size: 1.125rem;
    line-height: 2.1875rem;
  }
}

@media screen and (max-width: 836px) {
  .body-text {
    line-height: 2.1875rem;
  }
}

@media screen and (max-width: 416px) {
  .body-text {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.m-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.heading1 {
  font-size: 3.125rem;
  line-height: 3.125rem;
}

.heading2 {
  font-size: 2.5rem;
}

.heading3 {
  font-size: 2.1875rem;
}

.heading4 {
  font-size: 1.875rem;
}

@media screen and (max-width: 1922px) {
  .heading1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .heading2 {
    font-size: 2.5rem;
  }
  
  .heading3 {
    font-size: 2.1875rem;
  }
  
  .heading4 {
    font-size: 1.875rem;
  }
}

@media screen and (max-width: 1442px) {
  .heading1 {
    font-size: 2.1875rem;
    line-height: 2.5rem;
  }

  .heading2 {
    font-size: 2.1875rem;
  }
  
  .heading3 {
    font-size: 1.5625rem;
  }
  
  .heading4 {
    font-size: 1.5625rem;
  }
}

@media screen and (max-width: 1282px) {
  .heading1 {
    font-size: 1.875rem;
    line-height: 2.1875rem;
  }

  .heading2 {
    font-size: 1.875rem;
  }
  
  .heading3 {
    font-size: 1.5625rem;
  }
  
  .heading4 {
    font-size: 1.5625rem;
  }
}

@media screen and (max-width: 836px) {
  .heading1 {
    font-size: 1.5625rem;
    line-height: 1.5625rem;
  }

  .heading2 {
    font-size: 1.875rem;
    /* line-height: 2.25rem; */
  }
  
  .heading3 {
    font-size: 1.5625rem;
  }
  
  .heading4 {
    font-size: 1.5625rem;
  }
}

@media screen and (max-width: 416px) {
  .heading1 {
    font-size: 1.5625rem;
    line-height: 1.5625rem;
  }

  .heading2 {
    font-size: 1.5625rem;
  }
  
  .heading3, .heading4 {
    font-size: 1.25rem;
  }
}

.cols {
  width: 100%;
}