.faq-page {
    width: 100%;
}

.faq-heading {
    text-align: center;
    font-weight: 800;
}

.faq-container {
    width: 40%;
    margin: 0 auto;
    padding: 1rem;
}

@media screen and (max-width: 1682px) {
    .faq-container {
        width: 44%;
    }
}

@media screen and (max-width: 1442px) {
    .faq-container {
        width: 50%;
    }
}

@media screen and (max-width: 1026px) {
    .faq-container {
        width: 60%;
    }
}

@media screen and (max-width: 836px) {
    .faq-container {
        width: 65%;
    }
}

/* @media screen and (max-width: 768px) {
    .faq-container {
        width: 65%;
    }
} */

@media screen and (max-width: 602px) {
    .faq-container {
        width: 80%;
    }
}

/* @media screen and (max-width: 416px) {
    .faq-container {
        width: 90%;
    }
} */

.faq-content + .faq-content {
    margin: 3em 0;
}

.faq-list-title {
    margin-bottom: 2em;
    font-size: 1.25rem;
    font-weight: 800;
}

@media screen and (max-width: 362px) {
    .faq-list-title {
        font-size: 1.125rem;
    }
}

@media screen and (max-width: 321px) {
    .faq-list-title {
        font-size: 1.1rem;
    }
}

.faq-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5em 0 .5em;
    margin-left: -2.5em;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
}

.faq-link:hover {
    opacity: .6;
}

@media screen and (max-width: 836px) {
    .faq-link {
        font-size: 1rem;
    }
}

@media screen and (max-width: 386px) {
    .faq-link {
        font-size: .95rem;
    }
}

/* @media screen and (max-width: 602px) {
    .faq-link {
        font-size: .9rem;
    }
} */


.faq-hidden-plus {
    color: #999;
    font-weight: lighter;
}

.faq-hidden-plus:hover {
    color: #000;
}

@media screen and (max-width: 802px) {
    .faq-hidden-plus {
        margin-left: 1em;
    }
}

/* li {
    list-style-type: disc;
} */

.faq-divider {
    margin-left: -2.5em;
}

.info-container {
    line-height: 2.5rem;
    font-size: 1rem;
    margin-left: -2.5em;
}

.list-text {
    font-size: 1rem;
    line-height: 2rem;
}

@media screen and (max-width: 386px) {
    .info-container {
        font-size: .9rem;
    }
}


.list-text--small {
    font-size: .8rem;
    line-height: 2rem;
}

.faq-list-text {
    font-size: 1rem;
    margin: 2em 0;
}

.inline-link {
    display: inline-block;
    color: #00f;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 2px solid #000;
    text-align: left;
}

th, td {
    padding: .5rem 2rem;
    text-align: left;
}